<!doctype html>
<html>
  <head>
    <title>{% block title %}Home{% endblock %} : {{ HACKATHON_NAME }} Live</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/default.css" />
    {% block headincludes %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="container">
      <header>
        <div id="nav">
      	  <span class="flleft">
            <a href="/" title="{{ HACKATHON_NAME }} Live">Home</a>
          </span>
          <span class="flright logo">
	    {{ HACKATHON_NAME }}
          </span>
        </div>
      </header>
      
      <!-- page top -->
      <section>
        {% block subnav %}{% endblock %}
        <h1>{% block heading %}Title needed{% endblock %}</h1>
      </section>
      
      <!-- page body -->
      <div id="content">
      	{% block content %}{% endblock %}
      </div>
      
      <hr />
      
      <footer>
        <div class="column logo">{{ HACKATHON_NAME }} Live</div>
<~--        <div class="column">
          <ul>
            <li><a href="/">Home</a></li>
          </ul>
        </div>-->
	<div class="column">
	  <ul>
	    <li><em>Created by</em></li>
	    <li><em>Austin Hartzheim</em></li>
        <li><em>Riccardo Mutschlechner</em></li>
	  </ul>
	</div>
      </footer>
    </div>
  </body>
</html>
